:root {
  --black_clr: black;
  --white_clr: rgb(255, 255, 255);
}

.char-hold {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: hsla(0, 0%, 0%, 0.6);
}

.char-card {
  padding: 20px;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  background-color: var(--black_clr);
  text-align: center;
  transition: 0.5s ease;
}

.char-card:hover {
  transform: scale(1.03);
  /* background-color: var(--white_clr); */
  background: linear-gradient(45deg, red, red, red, red, hsl(0, 0%, 90%));
}

.char-card:hover h2,
.char-card:hover p {
  color: var(--black_clr);
}

.char-card:hover img {
  box-shadow: 0px 0px 20px hsl(0, 0%, 90%);
}

.char-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  color: var(--white_clr);
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px hsl(0, 100%, 50%);
}

.char-card h2 {
  /* font-family: 'Times New Roman', Times, serif; */
  color: var(--white_clr);
  margin-bottom: 20px;
}

.char-card p {
  /* font-family: 'Times New Roman', Times, serif; */
  color: var(--white_clr);
  text-align: justify;
  font-size: 14px;
  margin-bottom: 20px;
}