.footer {
    width: 100%;
    height: 60px;
    padding: 20px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-hr {
    width: 100%;
    height: 3px;
    border: none;
    margin: 0;
    background-color: hsl(0, 100%, 50%);
    color: hsl(0, 100%, 50%);
    box-shadow: 0px 0px 10px hsl(0, 100%, 50%);
    backdrop-filter: blur(3px);
}