.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 70px;
    backdrop-filter: blur(8px);
    background-color: hsla(0, 0%, 0%, 0.85);

    box-shadow: 0 3px 15px red;
    transition: box-shadow 0.3s ease;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.pulse-shadow {
    animation: shadowPulse 0.6s ease-in-out;
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0 8px 20px red;
    }

    50% {
        box-shadow: 0 8px 20px red;
    }

    100% {
        box-shadow: 0 3px 15px red;
    }
}

.navbar h2 {
    font-size: 40px;
    padding-left: 25px;
    color: hsl(0, 100%, 50%);
    /* background: linear-gradient(45deg, red, red, white, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    cursor: pointer;
}

.navbar h2 a {
    text-decoration: none;
    color: hsl(0, 100%, 50%);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

.navbar ul li a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.navbar ul li a:hover {
    color: red;
}