.phases {
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.6);
    color: hsl(0, 0%, 100%);
    padding: 20px;
}

.phases h1 {
    margin-top: 5px;
    margin-left: 25px;
    color: hsl(0, 0%, 100%);
}

.phase-movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.phase-movie {
    max-width: 250px;
    width: 100%;
    color: hsl(0, 0%, 100%);
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

.phase-movie img {
    width: 203px;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 0px 0px 10px red;
    height: 300px;
    margin: 5px auto;
}

.phase-movie h3 {
    font-size: x-large;
    margin-bottom: auto;
}

.phase-movie p {
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 80%);
}

.phase-movie p ion-icon {
    color: hsl(51, 100%, 50%);
}

.phase-movie button {
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 100%, 50%);
}

.phase-movie button:hover {
    background-color: hsl(0, 100%, 35%);
}

.phases-hr {
    width: 100%;
    height: 3px;
    border: none;
    margin: 0;
    background-color: hsl(0, 100%, 50%);
    color: hsl(0, 100%, 50%);
    box-shadow: 0px 0px 10px hsl(0, 100%, 50%);
    backdrop-filter: blur(3px);
}