* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  font-family: "Bebas Neue", "Montserrat", sans-serif;
  background: url("./assets/marvelbg1.jpg") no-repeat center / cover fixed;
}

.app-hr {
  width: 100%;
  height: 3px;
  border: none;
  background-color: hsl(0, 100%, 50%);
  color: hsl(0, 100%, 50%);
  box-shadow: 0px 0px 10px hsl(0, 100%, 50%);
  backdrop-filter: blur(3px);
}

.four-hero {
  text-align: center;
  padding: 15px 15px 0px 15px;
}

.four-hero h1 {
  font-size: 3rem;
  color: hsl(0, 100%, 50%);
  padding: 5px;
  background-color: hsla(0, 0%, 0%, 0.6);
  border-radius: 15px 15px 0 0;
}

.four-hero h4 {
  color: hsl(0, 0%, 100%);
  padding: 5px;
  background-color: hsla(0, 0%, 0%, 0.6);
}